@import url(./global.css);
.carocel-content {
  width: 76%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.symbol-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 300px;
  width: 100%;
}
.symbol-content h1 {
  font-size: 35px;
  font-weight: 700;
}
.carocel-content h3 {
  width: 100%;
  margin: auto;
}
.carocel-content h1 {
  width: 2000px;
  margin: auto;
}
.symbols {
  display: flex;
  gap: 30px;
}

#previous,
#next {
  font-weight: 300;
  background-color: #efefef;
  width: 80px;
  height: 80px;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#next {
  background-color: #39db4a;
  color: #ffff;
}
.carocel {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 76%;
  margin: 0px auto 0px;
  gap: 30px;
}
.caro {
  background-color: #ffff;
  box-shadow: 2px 10px 30px 0px #0000001a;
  width: 446px;
  height: 523px;
  border-radius: 40px;
}
.image {
  border-radius: 50%;
  margin: 50px 0px 0px 75px;
  width: 250px;
  height: 250px;
}
.ratingimage {
  height: 20px;
  width: 20px;
}
.textcaro {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.textcaro h2 {
  font-size: 27px;
  width: 130%;
  font-weight: 800;
}
.textcaro p {
  font-size: 19px;
  font-weight: 300;
  width: 90%;
  margin-bottom: 6px;
}
.pricediv {
  margin: auto;
  width: 80%;
}
.ratingtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin: auto;
  width: 80%;
}
.ratingtext {
  font-size: 24px;
  font-weight: 800;
}
.images {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}
.heart {
  margin-top: 20px;
  z-index: 1;
  width: 25px;
  height: 25px;
  margin-left: -70px;
}
.border {
  width: 87px;
  height: 90px;
  margin-left: -30px;
}
 @media only screen and (max-width: 1300px) {
  .caro {
    width: 305px;
    height: 494px;
  }
  .carocel {
    display: flex;
    justify-content: center;
    gap: 78px;
    width: 86%;
    margin: 50px;
}
  .image {
      margin: 43px 0px 0px 39px;
  }
  .border {
    margin-left: -67px;
}
.carocel-content {
  width: 90%;
  gap: 10px;
}
.symbols {
  justify-content: right;
  gap: 60px;
}
.symbol-content {
  width: 94%;
}
}
@media only screen and (max-width: 1024px) {
  .carocel-content {
    width: 158%;
    gap: 0px;
    margin-left: 50px;
  }
  .caro {
    width: 280px;
    height: 360px;
    border-radius: 26px;
  }
  .carocel {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 90%;
    margin: 50px;
  }
  .images {
    display: flex;
    justify-content: right;
    gap: 100px;
  }
  .image {
    margin: 0;
    width: 150px;
    height: 150px;
  }
  .heart {
    position: absolute;
    width: 20px;
    height: 15px;
  }
  .border {
    width: 47px;
    height: 60px;
  }

  .pricediv {
    font-size: 16px;
  }
  .ratingtext {
    font-size: 22px;
    font-weight: 800;
  }
  .ratingtext img {
    height: 20px;
    width: 20px;
  }
  .symbol-content {
    gap: 260px;
    width: 55%;
  }
  .symbols {
    justify-content: right;
    gap: 60px;
  }
  .textcaro h2 {
    font-size: 22px;
    width: 130%;
  }
  .textcaro p {
    font-size: 18px;
    width: 100%;
    line-height: 26px;
  }
  #previous,
  #next {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 961px) {
  .carocel-content {
    width: 90%;
    gap: 3px;
    margin: 0 0 0 49px;
  }
  .symbol-content h1 {
    font-size: 35px;
    width: 67%;
  }
  .caro {
    width: 232px;
    height: 318px;
    border-radius: 26px;
  }

  .carocel {
    display: flex;
    width: 86%;
    margin: 30px;
    justify-content: center;
    gap: 27px;
  }
  .textcaro h2 {
    font-size: 17.5px;
    font-weight: 900;
    width: 180%;
    margin-bottom: 10px;
  }
  .textcaro p {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 28px;
  }
  .images {
    display: flex;
    justify-content: right;
    gap: 80px;
  }
  .image {
    width: 120px;
    height: 120px;
  }
  .heart {
    position: absolute;
    width: 20px;
    height: 15px;
  }
  .border {
    width: 47px;
    height: 60px;
  }
  .pricediv {
    font-size: 16px;
  }
  .ratingtext {
    font-size: 22px;
    font-weight: 800;
  }
  .ratingtext img {
    height: 20px;
    width: 20px;
  }
  .symbol-content {
    gap: 190px;
    width: 90%;
  }
  .symbols {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 60px;
  }
  #previous,
  #next {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 820px) {
  .symbol-content {
    gap: 153px;
    width: 90%;
}
 .carocel{
  margin: 50px;
 }
 .textcaro p {
  width: 100%;
  line-height: 20px;
}
.caro{
width: 232px;
height: 301px;
}
}
@media only screen and (max-width: 600px) {
  .carocel-content {
    width: 90%;
    margin: auto;
    gap: 10px;
  }
  .symbol-content h1 {
    font-size: 20px;
    font-weight: 800;
    width: 100%;
  }
  .caro {
    width: 104px;
    height: 140px;
    border-radius: 6px;
  }
  .textcaro h2 {
    font-size: 9px;
    font-weight: 900;
  }
  .textcaro p {
    width: 90%;
    font-size: 6px;
    font-weight: 500;
    line-height: 10px;
  }
  .images {
    display: flex;
    justify-content: right;
    gap: 35px;
  }
  .image {
    margin: 0;
    width: 50px;
    height: 50px;
  }
  .heart {
    position: absolute;
    width: 13px;
    height: 15px;
  }
  .border {
    width: 27px;
    height: 35px;
    overflow: hidden;
    z-index: 0;
    margin-left: -19px;
  }
  .carocel {
    width: 91%;
    margin: auto;
    justify-content: center;
    gap: 15px;
    margin-bottom: 60px;
  }
  .pricediv {
    font-size: 6px;
  }
  .ratingtext {
    font-size: 10px;
    font-weight: 800;
  }
  .ratingtext img {
    height: 8px;
    width: 8px;
  }
  .symbol-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0px;
    margin-bottom: 10px;
  }
  .symbols {
    margin-right: 0px;
    gap: 20px;
  }
  #previous,
  #next {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}
