.services-container {
  margin: auto;
  width: 80%;
  display: flex;
  gap: 100px;
  margin-bottom: 200px;
}

.text-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 46%;
}
.p-1 {
  color: #ff6868;
  font-size: 10px;
  font-weight: 700;
}

.p-2 {
  color: #000000;
  font-size: 43px;
  font-weight: 800;
  line-height: 72.61px;
  text-align: left;
  width: 200%;
}

.p-3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36.6px;
  text-align: left;
  width: 100%;
}

.btn-3 {
  color: #ffffff;
  background-color: #39db4a;
  border: none;
  width: 205px;
  height: 80px;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 31.47px;
  transition: ease 0.5s;
}
.btn-3:hover {
  color: #39db4a;
  background-color: #ffffff8e;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width: 43%;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 12px 43px 0px #00000024;
  width: 243px;
  height: 277px;
  gap: 15px;
  border-radius: 30px;
  text-align: center;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #5fe26c;
}

.paragraph {
  color: #90bd95;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.2px;
}
.card1 img {
  width: 64px;
  height: 64px;
}
@media only screen and (max-width: 1281px) {
  .services-container {
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  .text-container {
    gap: 20px;
    text-align: left;
    margin-left: 0px;
    width: 70%;
  }
  .cards-container {
    width: 50%;
    grid-gap: 20px;
  }
  .card1 {
    height: 260px;
    width: 210px;
  }
  .p-2 {
    font-size: 35px;
    line-height: 60px;
    width: 200%;
  }
  .p-3 {
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    width: 120%;
  }

  .heading {
    font-size: 18px;
  }
  .services-container {
    width: 91%;
    margin-bottom: 100px;
    gap: 50px;
  }
  .paragraph {
    font-size: 16px;
    line-height: 24.2px;
  }
  .card1 img {
    width: 64px;
    height: 64px;
  }
}

@media only screen and (max-width: 961px) {
  .services-container {
    overflow-x: hidden;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .text-container {
    gap: 15px;
    width: 42%;
  }
  .cards-container {
    width: 50%;
    grid-gap: 60px;
  }
  .card1 {
    height: 240px;
    width: 180px;
    box-shadow: -14px -16px 15px -8px #00000024;
  }
  .p-2 {
    font-size: 33px;
    line-height: 40px;
    width: 130%;
  }
  .p-3 {
    font-size: 22px;
    line-height: 40px;
    width: 130%;
    text-align: left;
  }
  .heading {
    font-size: 18px;
  }
  .paragraph {
    font-size: 14px;
  }
  .card1 img {
    height: 50px;
    width: 50px;
  }
  .btn-3 {
    height: 52px;
    width: 120px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .text-container {
    width: 62%;
    margin-bottom: 0px;
  }
  .cards-container {
    width: 60%;
    grid-gap: 40px;
  }
  .p-3 {
    width: 105%;
  }
  .btn-3 {
    margin: 20px 180px;
  }
}
@media screen and (max-width: 600px) {
  .services-container {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  .text-container {
    gap: 5px;
    width: 77%;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }
  .cards-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card1 {
    height: 190px;
    width: 130px;
  }
  .text-container h3 {
    text-align: center;
    width: 85%;
  }
  .p-2 {
    font-weight: 00;
    text-align: left;
    font-size: 20px;
    width: 84%;
    line-height: 28px;
  }

  .p-3 {
    font-size: 10px;
    width: 85%;
    line-height: 17px;
    text-align: center;
  }

  .btn-3 {
    color: #ffffff;
    background-color: #39db4a;
    border: none;
    width: 110px;
    height: 40px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin: 15px 90px;
  }
  .heading {
    font-size: 12px;
  }
  .paragraph {
    font-size: 10px;
    line-height: 22px;
  }
  .card1 {
    height: 190px;
    width: 130px;
    box-shadow: -14px -16px 15px -8px #00000024;
  }
  .card1 img {
    height: 30px;
    width: 30px;
  }
}
